@import "tailwindcss";

/* Variables CSS personnalisées */
:root {
  --foreground: #000000;
  --background: #F9F8F6;
  --secondary-bg: #EFECE3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
    --background: #F9F8F6;
    --secondary-bg: #EFECE3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Sélection de texte personnalisée */
::selection {
  background-color: rgba(0, 0, 0, 0.2);
}